comm
matplotlib-inline
certifi
jsonschema-specifications
pytz
tzdata
setuptools
cryptography
azure-mgmt-compute
azure-mgmt-containerservice
pip
pyOpenSSL
argon2-cffi
attrs
azure-mgmt-resource
argon2-cffi-bindings
azure-mgmt-storage
isoduration
azure-mgmt-batch
azure-mgmt-redis
