jupyterlab-widgets
chardet
azure-mgmt-nspkg
azure-nspkg
flask
mistune
azure-mgmt-datalake-nspkg
werkzeug
azure-mgmt-appconfiguration
azure-mgmt-iothub
azure-cli
azure-cli-core
requests
jupyterlab-server
pycparser
fastjsonschema
pydantic-core
Babel
semver
jupyter-server