Babel
semver
jupyter-server
types-python-dateutil
portalocker
PyJWT
fabric
pydantic
azure-mgmt-recoveryservices
soupsieve
geopy
QtPy
jsonpointer
pathlib2
pyshp
jupyter-lsp
pandas
MarkupSafe
itsdangerous